@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  margin: 0;
  background: var(--bg);
  transition:all 3ms ease;
  color:var(--black);
  scroll-behavior: smooth;
  width: 100vw;
}

.s-container .swiper{
  width: 70%;
  height: 12rem;
  position: unset;
}
.s-container .swiper-slide{
  background: white;
  display: flex;
  border-radius:10px;
  padding:1rem;
  box-sizing: border-box;
  overflow:hidden;
  position: relative;
}
.s-container .swiper-button-prev{
  left:6rem
}
.s-container .swiper-button-next{
  right:6rem
}
.s-container .swiper-button-prev,.s-container .swiper-button-next{
  color:black
}
